@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Courgette:wght@400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --black: #1d1d1d;
    --red:#b54040;
    --white:#eeeeee;
    --white-opaque:#eeeeeee7;
    --grey-bckgrd:#b5b5b5;
}

/* **TYPOGRAPHY** */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: var(--black);
}
p, button, figcaption, li, a, label {
    font-family: 'Inter', sans-serif;
    color: var(--black);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--red);
    text-decoration: underline;
}

/* **COMMON CLASSES** */
.subtitle {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-spacing {
    width:95%;
    margin:0 auto;
    margin-top:100px;
}
.pricing, 
.process, 
.about {
    padding: 0 5%;
}

/* **HEADER** */
header {
    position: absolute;
    top:25px;
    left:2.5%;
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
}
.logo {
    text-transform: uppercase;
    font-weight: 400;
    width:150px;
    font-size: 2rem;
}
.nav-item {
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    padding:5px;
}

/* **HERO** */
.hero {
    position:relative;
    top:0;
    z-index: 1;
    display: grid;
    width:100%;
    height:100vh;
    grid-template-columns: 60% 40%;
}
.hero-img-cont {
    grid-column: 1 / 2;
    width:100%;
    max-height:100vh;
}
@media screen and (max-width:1000px) {
    .hero {
        background-image: url('../media/hardy.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-img-cont {
        display:none;
    }
    .hero-text {
        width:100%;
        background-color: var(--white-opaque);
        padding:10px;
    }
}
.hero-img {
    width:100%;
    height:100%;
}
.hero-text {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}
#cta-btn {
    position: fixed;
    right:2.5%;
    top:90vh;
    border:none;
    background-color: var(--red);
    padding:10px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}
#cta-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* **ABOUT** */
.bio {
    display: grid;
    width:100%;
    grid-template-columns: 60% 40%;
    padding:25px;
    background-color: #fcebeba3;
}
@media screen and (max-width:768px) {
    .bio {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .bio-img-cont {
        width:40%;
        padding-top:25px;
    }
}
.bio-text {
    line-height: 1.5rem;
    font-family: 'Courgette', cursive;
    grid-column: 1 / 2;
    text-align: justify;
    padding:25px 25px 0 0;
}
.bio-img-cont {
    width:100%;
    max-width: 300px;
    grid-column: 2 / 3;
    margin:0 auto;

}
.bio-img {
    width:100%;
    border: 10px solid var(--grey-bckgrd);
}

/* **PORTFOLIO** */
.portfolio {
    background-color: var(--grey-bckgrd);
    display: grid;
    width:100%;
    padding:10px;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
}
.portfolio-img {
    width:100%;
}
.portfolio-img-ext {
    width:100%;
    display:none;
}
.portfolio-img-ext.show {
    display: block;
}
.see-more-arrow.clicked {
    transform: rotate(180deg);
}
.more {
    display:block;
}
.more.hide {
    display:none;
}
.less {
    display:none;
}
.less.hide {
    display:block;
}
.port-ext-btn {
    background: none;
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.75rem;
    margin:10px auto;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap:2px;
}

/* **PROCESS** */
.process-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.process-item {
    width:20%;
    min-width: 200px;
    margin-top:10px;
}
.process-subtitle {
    text-align: center;
    text-transform: uppercase;
    margin:10px;
    font-size: 0.9rem;
    font-weight: 800;
}
.process-info {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.25rem;
}
.process-subtitle,
.process-info {
    position: relative;
}
#process1::before,
#process2::before,
#process3::before,
#process4::before {
    color: var(--grey-bckgrd);
    text-align: center;
    position:relative;
    top:0;
    left:0;
    display: block;
    margin:0 auto;
    font-size: 5rem;
    font-weight: 600;
}
#process1::before {
    content: '1.';
}
#process2::before {
    content: '2.';
}
#process3::before {
    content: '3.';
}
#process4::before {
    content: '4.';
}

/* **PRICING** */
.pricing-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap:10px;
    flex-wrap: wrap;
}
.price-details {
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.price {
    font-size: 1rem;
}
.price-details,
.price {
    padding:5px;
}
.price-img {
    width:150px;
}
.framed {
    border: 10px solid burlywood;
}
.pricing-desc {
    margin-top:25px;
    font-size: 0.75rem;
}

/* **CONTACT FORM** */
.g-i-t {
    position:relative;
    z-index: 1;
    padding:0 2.5%;
    width:100%;
    padding-bottom: 100px;
    background-color: var(--black);
    color: var(--white);
}
.g-i-t h2 {
    color: var(--white);
    padding-top: 50px;
}
/* form {
    width:50%;
    color: var(--white);
}
.form-input {
    margin:25px 0;
    display: flex;
    flex-direction: column;
    width:fit-content;
    color: var(--white);
}
.form-input label {
    font-size: 0.8rem;
    margin:2px 0;
    color: var(--white);
} */
.g-i-t-img-cont {
    width:50%;
}
.g-i-t-img {
    width:100%;
}
@media screen and (max-width:768px) {
    .g-i-t-img-cont {
        display:none;
    }
}
/* .submit {
    border:none;
    background-color: var(--red);
    padding:10px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
} */


/* **FOOTER** */
footer {
    background-color: var(--grey-bckgrd);
    position: relative;
    z-index: 100;
    padding:50px 2.5%;
}
.flex.footer {
    align-items: flex-start;
}
.logo.footer {
    margin-bottom: 50px;
}
.foot-img-cont {
    width:250px;
}
.foot-img {
    width:100%;
}
.nav-item.footer {
    text-align: left;
}